@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{ 
    <script src="~/js/signalr-client.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <button id="btn-send-message-all-client">Send all clients</button>

        </div>

    </div>
</div>
