@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="~/js/signalr-client.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <button type="button" class="btn btn-primary">
                Connected client count <span id="span-connected-client-count" class="badge text-bg-secondary">0</span>
            </button>

            <button id="btn-send-message-all-client">Send all clients</button>

            <button id="btn-send-message-caller-client">Send caller client</button>
            <button id="btn-send-message-other-client">Send other client</button>

        </div>

    </div>
</div>
